        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        .responsive-table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
        }

        .responsive-table td {
            width: 50%;
            border: 2px solid #333;
            padding: 20px;
            text-align: left;
            vertical-align: top;
            font-size: 1.2em;
            color: #333;
        }

        .cell-one {
            background-color: #d4e157;
        }

        .cell-two {
            background-color: #ffab91;
        }
        .cell-three {
            background-color: #64b5f6;
        }
        .cell-four {
            background-color: #ffcc80;
        }
        .cell-five {
            background-color: #81c784;
        }
        